{% extends "sidebar/base_with_sidebar.html" %}
{% load staticfiles %}
{% block content %}
    <div class="nk-main">
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li>
                <span class="fa fa-angle-right"></span>
            </li>
            <li>
                <span>Tournaments</span>
            </li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
    <div class="container">
    <div class="row vertical-gap">
    <div class="col-lg-8">

    <!-- START: Now Playing -->
    <div class="responsive-embed responsive-embed-16x9">
        <iframe src="https://player.twitch.tv/?channel=callofduty" height="378" width="620"></iframe>
    </div>
    <!-- END: Now Playing -->
    <!-- START: Latest Matches -->
    <div class="nk-gap-2"></div>
    <h3 class="nk-decorated-h-2">
                        <span>
                            <span class="text-main-1">最新</span> 試合 </span>
    </h3>
    <div class="nk-gap"></div>
    <div class="nk-match">
        <div class="nk-match-team-left">
            <div>
                <div class="nk-match-team-logo">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                </div>
                <div class="nk-match-team-name">
                    HOME
                </div>
            </div>
        </div>
        <div class="nk-match-status">
            <div class="nk-match-status-vs">VS</div>
            <div class="nk-match-status-date">2017-12-01 8:00 pm</div>
            <div class="nk-match-score bg-danger">
                5 : 8
            </div>
        </div>
        <div class="nk-match-team-right">
            <div>
                <div class="nk-match-team-name">
                    白米
                </div>
                <div class="nk-match-team-logo">
                    <img src="{% static 'images/team-2.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="nk-match">
        <div class="nk-match-team-left">
            <div>
                <div class="nk-match-team-logo">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                </div>
                <div class="nk-match-team-name">
                    Sixth Senses
                </div>
            </div>
        </div>
        <div class="nk-match-status">
            <div class="nk-match-status-vs">VS</div>
            <div class="nk-match-status-date">2017-12-14 19:00 pm</div>
            <div class="nk-match-score bg-success">
                8 : 3
            </div>
        </div>
        <div class="nk-match-team-right">
            <div>
                <div class="nk-match-team-name">
                    HOME
                </div>
                <div class="nk-match-team-logo">
                    <img src="{% static 'images/team-1.jpg' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- END: Latest Matches -->
    </div>
{% endblock %}
