{% extends "base.html" %}
{% block breadcurmbs %}
    <ul class="nk-breadcrumbs">
        <li><a href="{% url 'top_page' %}">Home</a></li>
        <li>
            <span class="fa fa-angle-right"></span>
        </li>
        <li>
            <span>ライブ</span>
        </li>

    </ul>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
{% endblock %}
{% block content %}
    <div class="row vertical-gap">
        <div class="col-lg-8">
            <!-- START: Now Playing -->
            <div class="responsive-embed responsive-embed-16x9">
                <iframe src="https://player.twitch.tv/?channel=callofduty" height="378" width="620"></iframe>
            </div>
            <!-- END: Now Playing -->
            <!-- START: Latest Matches -->
            <div class="nk-gap-2"></div>
            <h3 class="nk-decorated-h-2">
                        <span>
                            <span class="text-main-1"></span> 試合 </span>
            </h3>
            <div class="nk-gap"></div>
            {% for new_match in new_matches %}
                <div class="nk-match">
                    <div class="nk-match-team-left">
                        <div>
                            <div class="nk-match-team-logo">
                                <img src="{{ new_match.home_team_image }}" alt="{{ new_match.home_team_name }}"
                                     width="140"
                                     height="140">
                            </div>
                            <div class="nk-match-team-name">
                                {{ new_match.home_team_name }}
                            </div>
                        </div>
                    </div>
                    <div class="nk-match-status">
                        <div class="nk-match-status-vs">VS</div>
                        <div class="nk-match-status-date">{{ new_match.start_date }} {{ new_match.start_time }}</div>
                        <div class="nk-match-score bg-danger">
                            {{ new_match.home_team_score }} : {{ new_match.away_team_score }}
                        </div>
                    </div>
                    <div class="nk-match-team-right">
                        <div>
                            <div class="nk-match-team-name">
                                {{ new_match.away_team_name }}
                            </div>
                            <div class="nk-match-team-logo">
                                <img src="{{ new_match.away_team_image }}" alt="{{ new_match.away_team_name }}"
                                     width="140"
                                     height="140">
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <!-- END: Latest Matches -->
        </div>
        <div class="col-lg-4">
            <!-- START: Sidebar -->
            <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title">
                                <span>
                                    <span class="text-main-1">We</span> Are Social</span>
                    </h4>
                    <div class="nk-widget-content">
                        <ul class="nk-social-links-3 nk-social-links-cols-4">
                            <li>
                                <a class="nk-social-twitch" href="#">
                                    <span class="fa fa-twitch"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-facebook" href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-youtube" href="#">
                                    <span class="fa fa-youtube-play"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-twitter" href="https://twitter.com/nkdevv" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title">
                                <span>
                                    <span class="text-main-1">Next</span> Matches</span>
                    </h4>
                    <div class="nk-widget-content">
                        {% for next_match in next_matches %}
                            <div class="nk-widget-match">
                                <div>
                                    <div class="nk-widget-match-left">
                                        <div class="nk-widget-match-teams">
                                            <div class="nk-widget-match-team-logo">
                                                <img src="{{ next_match.home_team_image }}"
                                                     alt="{{ next_match.home_team_name }}">
                                            </div>
                                            <div class="nk-widget-match-vs">VS</div>
                                            <div class="nk-widget-match-team-logo">
                                                <img src="{{ next_match.away_team_image }}"
                                                     alt="{{ next_match.away_team_name }}">
                                            </div>
                                        </div>
                                        <div class="nk-widget-match-date">{{ next_match.start_date }} {{ next_match.start_time }}</div>
                                    </div>
                                    <div class="nk-widget-match-right">
                                        <div class="nk-match-score">
                                            Upcoming
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>
{% endblock %}
