{% extends "base.html" %}
{% block breadcurmbs %}
    <!-- START: Breadcrumbs -->
    <ul class="nk-breadcrumbs">
        <li><a href="{% url 'top_page' %}">Home</a></li>
        <li>
            <span class="fa fa-angle-right"></span>
        </li>
        <li>
            <span>Forum</span>
        </li>

    </ul>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
{% endblock %}
{% block content %}
    <div class="container">
        <div class="nk-gap-1"></div>
        <div class="nk-widget">
            <h4 class="nk-widget-title">
                <span class="text-main-1"></span>
                フォームを新規作成・修正する
            </h4>
            <div class="nk-widget-content">
                {% if forum_id %}
                <form method="post" class="nk-form" action="{% url 'edit_forum' forum_id=forum_id %}">
                    <div class="form-group">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <button class="btn btn-primary pull-right" type="submit"> 編集 </button>
                </form>
                {% else %}
                    <form method="post" class="nk-form" action="{% url 'create_forum' %}">
                        <div class="form-group">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </div>
                        <button class="btn btn-primary pull-right" type="submit"> 新規作成 </button>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
