{% extends "base.html" %}
{% load staticfiles %}
{% block breadcurmbs %}
    <ul class="nk-breadcrumbs">
        <li><a href="{% url 'top_page' %}">Home</a></li>
        <li>
            <span class="fa fa-angle-right"></span>
        </li>
        <li><a href="{% url 'article_list' %}">Article</a></li>
        <li>
            <span class="fa fa-angle-right"></span>
        </li>
        <li>
            <span>Articles</span>
        </li>
    </ul>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
{% endblock %}
{% block content %}
    <div class="row vertical-gap">
        <div class="col-lg-8">

            <!-- START: Posts Grid -->
            <div class="nk-blog-grid">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-6">
                            <!-- START: Post -->
                            <div class="nk-blog-post">
                                <a href="{% url 'article' article_id=article.id %}" class="nk-post-img">
                                    <img src="{{ article.thumbnail_url }}"
                                         alt="{{ article.title }}">
                                    <span class="nk-post-comments-count">4</span>
                                </a>
                                <div class="nk-gap"></div>
                                <h2 class="nk-post-title h4">
                                    <a href="{% url 'article' article_id=article.id %}">{{ article.tilte }}</a>
                                </h2>
                                <div class="nk-post-by">
                                    <img src="{{ article.writer_image }}" alt="" class="img-circle"
                                         width="35">
                                    by <a href="{% url 'user_page' user_id=article.writer_id %}">{{ article.writer_name }}</a>
                                    in {{ article.published_date }}
                                </div>
                                <div class="nk-gap"></div>
                                <div class="nk-post-text">
                                    <p>{{ article.content }}</p>
                                </div>
                                <div class="nk-gap"></div>
                                <a href="{% url 'article' article_id=article.id %}"
                                   class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read
                                    More</a>
                            </div>
                            <!-- END: Post -->
                        </div>
                    {% endfor %}

                    <!-- START: Pagination -->
                    <!--
                    <div class="nk-pagination nk-pagination-center">
                        <a href="#" class="nk-pagination-prev">
                            <span class="ion-ios-arrow-back"></span>
                        </a>
                        <nav>
                            <a class="nk-pagination-current" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <span>...</span>
                            <a href="#">14</a>
                        </nav>
                        <a href="#" class="nk-pagination-next">
                            <span class="ion-ios-arrow-forward"></span>
                        </a>
                    </div>
                    <!-- END: Pagination -->
                </div>
                <!-- END: Posts Grid -->
            </div>
        </div>
        <div class="col-lg-4">
            <!-- START: Sidebar -->
            <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title">
                                <span>
                                    <span class="text-main-1">We</span> Are Social</span>
                    </h4>
                    <div class="nk-widget-content">
                        <ul class="nk-social-links-3 nk-social-links-cols-4">
                            <li>
                                <a class="nk-social-twitch" href="#">
                                    <span class="fa fa-twitch"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-facebook" href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-youtube" href="#">
                                    <span class="fa fa-youtube-play"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-twitter" href="https://twitter.com/nkdevv" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title">
                                <span>
                                    <span class="text-main-1">Next</span> Matches</span>
                    </h4>
                    <div class="nk-widget-content">
                        {% for next_match in next_matches %}
                            <div class="nk-widget-match">
                                <div>
                                    <div class="nk-widget-match-left">
                                        <div class="nk-widget-match-teams">
                                            <div class="nk-widget-match-team-logo">
                                                <img src="{{ next_match.home_team_image }}"
                                                     alt="{{ next_match.home_team_name }}">
                                            </div>
                                            <div class="nk-widget-match-vs">VS</div>
                                            <div class="nk-widget-match-team-logo">
                                                <img src="{{ next_match.away_team_image }}"
                                                     alt="{{ next_match.away_team_name }}">
                                            </div>
                                        </div>
                                        <div class="nk-widget-match-date">{{ next_match.start_date }} {{ next_match.start_time }}</div>
                                    </div>
                                    <div class="nk-widget-match-right">
                                        <div class="nk-match-score">
                                            Upcoming
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>
{% endblock %}
