{% extends "sidebar/base_with_sidebar.html" %}
{% load staticfiles %}
{% block content %}
    <div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li><a href="#">ニュース</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li>
                <span>タイトルタイトル</span>
            </li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->


    <div class="container">
    <div class="row vertical-gap">
        <div class="col-lg-8">
            <!-- START: Post -->
            <div class="nk-blog-post nk-blog-post-single">
                <!-- START: Post Text -->
                <div class="nk-post-text mt-0">
                    <div class="nk-post-img">
                        <img src="{% static 'images/post-2.jpg' %}" alt="">
                    </div>
                    <div class="nk-gap-1"></div>
                    <h1 class="nk-post-title h4">タイトルタイトル</h1>
                    <div class="nk-post-by">
                        <img src="{% static 'images/avatar-2.jpg' %}" alt="" class="img-circle" width="35"> by <a
                            href="">otk</a> in 2018/1/1
                        <div class="nk-post-categories">
                            <span class="bg-main-1">大会</span>
                            <span class="bg-main-2">COD</span>
                        </div>
                    </div>
                    <div class="nk-gap"></div>
                    <p>テキストテキスト　</p>
                    <div class="nk-gap"></div>

                    <span class="h5">シェアする</span>

                    <ul class="nk-social-links-2">
                        <li>
                                        <span class="nk-social-facebook" title="Share page on Facebook"
                                              data-share="facebook">
                                            <span class="fa fa-facebook"></span>
                                        </span>
                        </li>
                        <li>
                                        <span class="nk-social-google-plus" title="Share page on Google+"
                                              data-share="google-plus">
                                            <span class="fa fa-google-plus"></span>
                                        </span>
                        </li>
                        <li>
                                        <span class="nk-social-twitter" title="Share page on Twitter"
                                              data-share="twitter">
                                            <span class="fa fa-twitter"></span>
                                        </span>
                        </li>
                        <li>
                                        <span class="nk-social-pinterest" title="Share page on Pinterest"
                                              data-share="pinterest">
                                            <span class="fa fa-pinterest-p"></span>
                                        </span>
                        </li>

                        <!-- Additional Share Buttons
                    <li><span class="nk-social-linkedin" title="Share page on LinkedIn" data-share="linkedin"><span class="fa fa-linkedin"></span></span></li>
                    <li><span class="nk-social-vk" title="Share page on VK" data-share="vk"><span class="fa fa-vk"></span></span></li>
                -->
                    </ul>
                </div>
            </div>
            <!-- END: Post Text -->

            <!-- START: Similar Articles -->
            <div class="nk-gap-2"></div>
            <h3 class="nk-decorated-h-2">
                            <span>
                                <span class="text-main-1">過去の</span> 記事</span>
            </h3>
            <div class="nk-gap"></div>
            <div class="row">

                <div class="col-md-6">
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <a href="#" class="nk-post-img">
                            <img src="{% static 'images/post-3-mid.jpg' %}" alt="">
                            <span class="nk-post-categories">
                                            <span class="bg-main-2">大会</span>
                                        </span>

                        </a>
                        <div class="nk-gap"></div>
                        <h2 class="nk-post-title h4"><a href="#">タイトルタイトル</a></h2>
                    </div>
                    <!-- END: Post -->
                </div>
            </div>
            <!-- END: Similar Articles -->
        </div>
        <!-- END: Post -->
    </div>
{% endblock %}
