{% extends "base.html" %}
{% block breadcurmbs %}
    <!-- START: Breadcrumbs -->
    <ul class="nk-breadcrumbs">
        <li><a href="{% url 'top_page' %}">Home</a></li>
        <li>
            <span class="fa fa-angle-right"></span>
        </li>
        <li>
            <span>Forum</span>
        </li>

    </ul>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
{% endblock %}
{% block content %}
    <!-- START: Forums List -->
    <ul class="nk-forum">
        <li>
            <div class="nk-forum-icon">
                <span class="ion-ios-game-controller-b"></span>
            </div>
            <div class="nk-forum-title">
                <h3><a href="#">タイトルタイトルタイトル</a></h3>
                <div class="nk-forum-title-sub">サブタイトル</div>
            </div>
            <div class="nk-forum-count">
                10 スレッド
            </div>
            <div class="nk-forum-activity-avatar">
                <img src="{% static 'images/avatar-1.jpg' %}" alt="">
            </div>
            <div class="nk-forum-activity">
                <div class="nk-forum-activity-title" title="アクティブなスレッドタイトル">
                    <a href="#">タイトルタイトル</a>
                </div>
                <div class="nk-forum-activity-date">
                    2017-12-01 20:00:00
                </div>
            </div>
        </li>
    </ul>
    <!-- END: Forums List -->
{% endblock %}
