{% extends "sidebar/base_with_sidebar.html" %}
{% load staticfiles %}
{% block content %}
    <div class="nk-main">
    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">
            <li><a href="index.html">Home</a></li>
            <li>
                <span class="fa fa-angle-right"></span>
            </li>
            <li><a href="#">Blog</a></li>
            <li>
                <span class="fa fa-angle-right"></span>
            </li>
            <li>
                <span>Blog Grid</span>
            </li>
        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->


    <div class="container">
    <div class="row vertical-gap">
    <div class="col-lg-8">

        <!-- START: Posts Grid -->
        <div class="nk-blog-grid">
            <div class="row">
                <div class="col-md-6">
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <a href="blog-article.html" class="nk-post-img">
                            <img src="{% static 'images/post-1-mid.jpg' %}"
                                 alt="Smell magic in the air. Or maybe barbecue">
                            <span class="nk-post-comments-count">4</span>
                        </a>
                        <div class="nk-gap"></div>
                        <h2 class="nk-post-title h4"><a href="#">タイトルタイトル</a></h2>
                        <div class="nk-post-by">
                            <img src="{% static 'images/avatar-1.jpg' %}" alt="" class="img-circle" width="35"> by
                            <a href="#">otk</a> in 2018/1/1
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>テキストテキストテキストテキスト</p>
                        </div>
                        <div class="nk-gap"></div>
                        <a href="#"
                           class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read
                            More</a>
                    </div>
                    <!-- END: Post -->
                </div>
                <div class="col-md-6">
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <a href="blog-article.html" class="nk-post-img">
                            <img src="{% static 'images/post-1-mid.jpg' %}"
                                 alt="Smell magic in the air. Or maybe barbecue">
                            <span class="nk-post-comments-count">4</span>
                        </a>
                        <div class="nk-gap"></div>
                        <h2 class="nk-post-title h4"><a href="#">タイトルタイトル</a></h2>
                        <div class="nk-post-by">
                            <img src="{% static 'images/avatar-1.jpg' %}" alt="" class="img-circle" width="35"> by
                            <a href="#">otk</a> in 2018/1/1
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>テキストテキストテキストテキスト</p>
                        </div>
                        <div class="nk-gap"></div>
                        <a href="#"
                           class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read
                            More</a>
                    </div>
                    <!-- END: Post -->
                </div>
                <div class="col-md-6">
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <a href="blog-article.html" class="nk-post-img">
                            <img src="{% static 'images/post-1-mid.jpg' %}"
                                 alt="Smell magic in the air. Or maybe barbecue">
                            <span class="nk-post-comments-count">4</span>
                        </a>
                        <div class="nk-gap"></div>
                        <h2 class="nk-post-title h4"><a href="#">タイトルタイトル</a></h2>
                        <div class="nk-post-by">
                            <img src="{% static 'images/avatar-1.jpg' %}" alt="" class="img-circle" width="35"> by
                            <a href="#">otk</a> in 2018/1/1
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>テキストテキストテキストテキスト</p>
                        </div>
                        <div class="nk-gap"></div>
                        <a href="#"
                           class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read
                            More</a>
                    </div>
                    <!-- END: Post -->
                </div>
                <div class="col-md-6">
                    <!-- START: Post -->
                    <div class="nk-blog-post">
                        <a href="blog-article.html" class="nk-post-img">
                            <img src="{% static 'images/post-1-mid.jpg' %}"
                                 alt="Smell magic in the air. Or maybe barbecue">
                            <span class="nk-post-comments-count">4</span>
                        </a>
                        <div class="nk-gap"></div>
                        <h2 class="nk-post-title h4"><a href="#">タイトルタイトル</a></h2>
                        <div class="nk-post-by">
                            <img src="{% static 'images/avatar-1.jpg' %}" alt="" class="img-circle" width="35"> by
                            <a href="#">otk</a> in 2018/1/1
                        </div>
                        <div class="nk-gap"></div>
                        <div class="nk-post-text">
                            <p>テキストテキストテキストテキスト</p>
                        </div>
                        <div class="nk-gap"></div>
                        <a href="#"
                           class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Read
                            More</a>
                    </div>
                    <!-- END: Post -->
                </div>
                <!-- START: Pagination -->
                <div class="nk-pagination nk-pagination-center">
                    <a href="#" class="nk-pagination-prev">
                        <span class="ion-ios-arrow-back"></span>
                    </a>
                    <nav>
                        <a class="nk-pagination-current" href="#">1</a>
                        <a href="#">2</a>
                        <a href="#">3</a>
                        <a href="#">4</a>
                        <span>...</span>
                        <a href="#">14</a>
                    </nav>
                    <a href="#" class="nk-pagination-next">
                        <span class="ion-ios-arrow-forward"></span>
                    </a>
                </div>
                <!-- END: Pagination -->
            </div>
            <!-- END: Posts Grid -->
        </div>
    </div>
{% endblock %}
