{% extends "sidebar/base_with_sidebar.html" %}
{% load staticfiles %}
{% block content %}
    <div class="nk-main">

    <!-- START: Breadcrumbs -->
    <div class="nk-gap-1"></div>
    <div class="container">
        <ul class="nk-breadcrumbs">


            <li><a href="index.html">Home</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li><a href="#">Tournaments</a></li>


            <li>
                <span class="fa fa-angle-right"></span>
            </li>

            <li>
                <span>クラン</span>
            </li>

        </ul>
    </div>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->

    <div class="container">
    <div class="row vertical-gap">
    <div class="col-lg-8">

        <!-- START: Teams -->
        <div class="nk-team">
            <div class="nk-team-logo">
                <img src="{% static 'images/team-1-lg.jpg' %}" alt="">
            </div>
            <div class="nk-team-cont">
                <h3 class="h5 mb-20">
                    <span class="text-main-1">Team:</span> TEAM Name</h3>
                <h4 class="h6 mb-5">Members:</h4>
                <a href="#">otk</a>,
                <div class="nk-team-photo" style="background-image: url('assets/images/team-photo.png');"></div>
            </div>
        </div>
        <!-- END: Teams -->
    </div>
{% endblock %}
