{% extends "base.html" %}
{% load staticfiles %}
{% block breadcurmbs %}
    <ul class="nk-breadcrumbs">
        <li><a href="{% url 'top_page' %}">Home</a></li>
        <li>
            <span class="fa fa-angle-right"></span>
        </li>
        <li>
            <span>クラン</span>
        </li>

    </ul>
    <div class="nk-gap-1"></div>
    <!-- END: Breadcrumbs -->
{% endblock %}
{% block content %}
    <div class="row vertical-gap">
        <div class="col-lg-8">
            <!-- START: Teams -->
            {% for team in teams %}
                <div class="nk-team">
                    <div class="nk-team-logo">
                        <img src="{{ team.image }}" alt="{{ team.name }}">
                    </div>
                    <div class="nk-team-cont">
                        <a href="{% url 'team_page' team_id=team.id %}">
                            <h3 class="h5 mb-20">
                                <span class="text-main-1">Team:</span> {{ team.name }}
                            </h3>
                        </a>
                        <h4 class="h6 mb-5">Members:</h4>
                        {% for member in team.members %}
                            <a href="{% url 'user_page' user_id=member.id %}">
                                {{ member.nickname }}
                            </a>
                        {% endfor %}
                        <h4 class="h6 mb-5">
                            活動ゲーム: {{ team.game }}
                        </h4>
                        <h4 class="h6 mb-5">
                            活動プラットフォーム: {{ team.platform }}
                        </h4>
                    </div>
                    <a href="{% url 'team_page' team_id=team.id %}"
                       class="nk-btn nk-btn-rounded nk-btn-color-main-1">
                        more info
                    </a>
                </div>
            {% endfor %}
            <!-- END: Teams -->
        </div>
        <div class="col-lg-4">
            <!-- START: Sidebar -->
            <aside class="nk-sidebar nk-sidebar-right nk-sidebar-sticky">
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title">
                                <span>
                                    <span class="text-main-1">We</span> Are Social</span>
                    </h4>
                    <div class="nk-widget-content">
                        <ul class="nk-social-links-3 nk-social-links-cols-4">
                            <li>
                                <a class="nk-social-twitch" href="#">
                                    <span class="fa fa-twitch"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-facebook" href="#">
                                    <span class="fa fa-facebook"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-youtube" href="#">
                                    <span class="fa fa-youtube-play"></span>
                                </a>
                            </li>
                            <li>
                                <a class="nk-social-twitter" href="https://twitter.com/nkdevv" target="_blank">
                                    <span class="fa fa-twitter"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="nk-widget nk-widget-highlighted">
                    <h4 class="nk-widget-title">
                                <span>
                                    <span class="text-main-1">Next</span> Matches</span>
                    </h4>
                    <div class="nk-widget-content">
                        {% for next_match in next_matches %}
                            <div class="nk-widget-match">
                                <div>
                                    <div class="nk-widget-match-left">
                                        <div class="nk-widget-match-teams">
                                            <div class="nk-widget-match-team-logo">
                                                <img src="{{ next_match.home_team_image }}"
                                                     alt="{{ next_match.home_team_name }}">
                                            </div>
                                            <div class="nk-widget-match-vs">VS</div>
                                            <div class="nk-widget-match-team-logo">
                                                <img src="{{ next_match.away_team_image }}"
                                                     alt="{{ next_match.away_team_name }}">
                                            </div>
                                        </div>
                                        <div class="nk-widget-match-date">{{ next_match.start_date }} {{ next_match.start_time }}</div>
                                    </div>
                                    <div class="nk-widget-match-right">
                                        <div class="nk-match-score">
                                            Upcoming
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </aside>
            <!-- END: Sidebar -->
        </div>
    </div>
    <div class="nk-gap-2"></div>
{% endblock %}
